.green-bg {
  background: var(--green-bg);
  margin-bottom: 120px;
}

.green-bg .container {
  padding: 12vw 10.4vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.green-bg .content {
  max-width: none;
  color: var(--white);
  margin-right: 15px;
  font-weight: var(--font-weight-600);
  font-size: calc(var(--base-font-size) + 5px);
  line-height: calc(39 / 25);
}

.green-bg .content__title {
  color: var(--white);
  font-size: var(--big-font-size);
  line-height: calc(79 / 50);
}

.green-bg .btn {
  font-weight: var(--font-weight-400);
  font-size: var(--base-font-size);
  line-height: calc(25 / 20);
}

.video-player {
  margin-left: 15px;
  position: relative;
}

.video-player img {
  border-radius: 16.3326px;
}

.icon-play {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}